PORT=5000
MONGO_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/restaurant-app
JWT_SECRET=your_jwt_secret_here
JWT_EXPIRE=30d
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=your_email@gmail.com
EMAIL_PASS=your_app_password
FROM_EMAIL=noreply@restaurant-app.com
FROM_NAME=Restaurant App

# AWS S3 Configuration
AWS_ACCESS_KEY_ID=your_access_key_id
AWS_SECRET_ACCESS_KEY=your_secret_access_key
AWS_REGION=us-east-1
AWS_S3_BUCKET_NAME=your_bucket_name
